@{
    ViewBag.Title = "About IBS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="page-header">
    
</div>
<div class="Wells">

    <p>
        Welcome to IB Free. This application is for people suffering with symptoms of irritable bowel syndrome.

        Irritable bowel syndrome (IBS) is a common disorder that affects the large intestine (colon). Irritable bowel syndrome commonly
        causes cramping, abdominal pain, bloating, gas, diarrhea and constipation. IBS is a chronic condition that you will need to manage
        long term. You can do so by reducing the amount of FODMAPS (poorly absorbed carbohydrates) in your diet. 
    </p>


   
    <p>
        Even though signs and symptoms are uncomfortable, IBS — unlike ulcerative colitis and Crohn's disease, which are forms of inflammatory
        bowel disease — doesn't cause changes in bowel tissue or increase your risk of colorectal cancer.
    </p>
    <br />
    
    @*<div id="Fodmaps"> <img src="~/Images/Fodmaps.jpg" class="img-responsive" alt="The FodMap Pic" style="vertical-align: middle"></div>*@
   
    <br />

    <p>
        Only a small number of people with irritable bowel syndrome have severe signs and symptoms. Some people can control their symptoms
        by managing diet, lifestyle and stress. Others will need medication and counseling. So what are a FODMAPS? View the picture below.
    </p>

   
    @*<div id="Fodmaps2"> <img src="~/Images/Fodmaps2.png" class="img-responsive" alt="The FodMap Pic"></div>*@
    <br />
    <br />

</div>
<div align="center">
    <img src="@Url.Content("~/Content/Images/Fodmaps.png")" style="vertical-align: middle;" />
    </div>




    <br />
    <br />



    <p1>
        For more information please see the following:
        <br />
        <a href="http://www.mayoclinic.org/diseases-conditions/irritable-bowel-syndrome/basics/definition/con-20024578">Mayoclinic</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://www.med.monash.edu/cecs/gastro/fodmap/">Monash University</a>


    </p1>
