
@{
    ViewBag.Title = "Party";
    var f1 = ViewBag.bla;
  
}


<br/>
<br />
<br />
<br />
<div align="center">
    <h2>Happy Days!!!!</h2>
    <h2>You can have  @Html.DisplayFor(x => f1) as much as you want !!!</h2>
    <br />
    <br />
    <img src="@Url.Content("~/Content/Images/Party.png")" style="vertical-align: middle;" />

</div>



