@model IEnumerable<IBFree.Models.BigViewModel>
@{
    ViewBag.Title = "Symptoms";
}



<h3> Sorry but you wont be eating this ever again!!!!!!</h3>

<div class="display-field"><img src="~/Images/imhungry_xlarge.gif" width="700" height="700" /></div>
<h2>Go to &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Enter main symptoms", "BadDay")</h2>


<div id="Fodmaps"> <img src="~/Images/Fodmaps3.png" class="img-responsive" alt="The FodMap Pic3"></div>