<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ibfreeapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ibfreeapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ibfreeapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ibfreeapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IBFreeContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ibfreeapp.database.windows.net,1433;Initial Catalog=ibfreeapp_db;User ID=ibfreeapp@ibfreeapp;Password=$123Qwerty$" Name="Data Source=tcp:ibfreeapp.database.windows.net,1433;Initial Catalog=ibfreeapp_db;User Id=ibfreeapp@ibfreeapp;Password=$123Qwerty$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IBFree.Models.IBFreeContext, IBFree" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ibfreeapp.database.windows.net,1433;Initial Catalog=ibfreeapp_db;User ID=ibfreeapp@ibfreeapp;Password=$123Qwerty$" Name="Data Source=tcp:ibfreeapp.database.windows.net,1433;Initial Catalog=ibfreeapp_db;User Id=ibfreeapp@ibfreeapp;Password=$123Qwerty$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IBFree.Models.ApplicationDbContext, IBFree" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ibfreeapp.database.windows.net,1433;Initial Catalog=ibfreeapp_db;User Id=ibfreeapp@ibfreeapp;Password=$123Qwerty$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IBFreeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ibfreeapp.database.windows.net,1433;Initial Catalog=ibfreeapp_db;User Id=ibfreeapp@ibfreeapp;Password=$123Qwerty$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>